<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>movie</title>
</head>
<body>
    <table class="table table-hover table-bordered">
        <thead class="bg-primary font-weight-bold text-white">
            <tr>
                <th>MovieId</th>
                <th>Title</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            {% for register in cart  %}
            <tr>
                <td>{{register.movie_id }}</span><button><a href = ''>Rent Movie</button></a></td>
                <td>{{register.movie_name}}</td>
                <td>{{ register.in_stock}}</td>
            {% endfor %}
        </tbody>
    </table>  
</body>
 